// potential colors:

// #7eb4d0; #599EC2; #F5F4F3

// #b8bd7f; #A5AC5D
// #ECC446;

// #343e26; #4F5E39; #6A7E4C

// #191919 or #2D2424
// #FFFDF8

:root {
    --color-primary-black: #2D2424;
    --color-primary-white: #FFFDF8;
    --color-primary-blue: #7eb4d0;
}

*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
    position: relative;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Gentium Plus', serif;
    min-height: 100vh;
}
